body {
    font-family: 'Roboto', sans-serif;
    background-color: #2C2F33;
}

.container {
  display: inline;
  max-width: 95%;
  margin-left: 1em;
  margin-right: 1em;
  padding-left: 1em;
  padding-right: 1em;
}

h2 {
  font-size: 26px;
  margin: 20px 0;
  text-align: center;
  color: #7289DA;
}

tr {
  border-radius: 3px;
  padding: 25px 30px;
  justify-content: space-between;
  margin-bottom: 25px;
  column-count: 3;
  list-style-type: none;
}

th {
  background-color: #99aab5;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}

tr {
  background-color: #23272a;
  box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
  min-width: 0;
  word-wrap: break-word;
}

.col-1 {
  width: 35%;
  max-width: 35%;
}

.col-2 {
  width: 40%;
  max-width: 40%;
}

.col-3 {
  width: 20%;
  max-width: 20%;
}

.col {
  color: #FFF;
  display: table-cell;
  word-break: break-word;
  padding: 3em;
}

a {
  text-decoration:none;
}

