body {
    font-family: 'Roboto', sans-serif;
    background-color: #2C2F33;
  }
.container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

h2 {
  font-size: 26px;
  margin: 20px 0;
  text-align: center;
  color: #7289DA;
}



li {
  border-radius: 3px;
  padding: 25px 30px;
  justify-content: space-between;
  margin-bottom: 25px;
  column-count: 3;
  list-style-type: none;
}
.table-header {
  background-color: #99aab5;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}
.table-row {
  background-color: #23272a;
  box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
}
.col-1 {
  flex-basis: 35%;
}
.col-2 {
  flex-basis: 40%;
}
.col-3 {
  flex-basis: 25%;
}

.col {
  color: #FFF;
  display: flex;
}

a {
  text-decoration:none;
}
