<html>

<head>
    <link rel="stylesheet" type="text/css" href="pinbot/css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
</head>

<body>
    <div class="container">
        <h2>Discord Pins</h2>
        <table>
            <colgroup>
                <col span="1" style="width: 35%;">
                <col span="1" style="width: 40%;">
                <col span="1" style="width: 25%;">
             </colgroup>
            <tr>
                <th class="col col-1">Author</th>
                <th class="col col-2">Message Content</th>
                <th class="col col-3">Time</th>
            </tr>
            %v
        </table>
    </div>
</body>

</html>