<html>

<head>
    <link rel="stylesheet" type="text/css" href="pinbot/css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
</head>

<body>
    <div class="container">
        <h2>Discord Pins</h2>
        <table>
            <tr>
                <th><div class="col col-1">Author</div></th>
                <th><div class="col col-2">Message Content</div></th>
                <th><div class="col col-3">Time</div></th>
            </tr>
            %v
        </table>
    </div>
</body>

</html>